extends ../../layout/default
include ../../mixins/search.pug
include ../../mixins/filtersStatus.pug
include ../../mixins/formChangeMulti.pug
include ../../mixins/table-tree.pug
block main
    h1 Danh sách mục sản phẩm

    .card.mb-3 
    .card-header Bộ lọc và tìm kiếm
    .card-body 
        .row
            .col-8
                +filtersStatus(filtersStatus)
            .col-4
                form(action="" path=`${prefixAdmin}/categories` method="GET")
                    input(type="text" name="keyword" placeholder="Tìm kiếm mục sản phẩm" class="form-control" value=keyword)
                    button(type="submit" class="btn btn-outline-secondary mt-2") Tìm kiếm
    .card-header Danh sách 
    .card-body 
        .row
            .col-8
                +form-change-multi(`${prefixAdmin}/categories/change-multi?_method=PATCH`)
            .col-4
                a(
                    href=`${prefixAdmin}/categories/create`
                    class="btn btn-success"
                ) Thêm mới mục sản phẩm
        table(class= "table table-hover table-sm "
        checkbox-multi)
            thead 
                tr 
                    th 
                        input(type="checkbox" name="checkall")  
                    th STT
                    th Hình ảnh
                    th Tên sản phẩm
                    th Vị trí
                    th Trạng thái
                    th Thao tác
            tbody
                +table-tree(categories)
    form(action="" 
    class="d-none" 
    id="form-change-status"
     data-path=`${prefixAdmin}/categories/change-status` 
     method="post") 
    script(src="/admin/js/category.js") 
    script(src="/admin/js/script.js") 