extends ../../layout/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug
block main 
    if (rolesUser.permissions.includes("products_edit"))
        +alert-error(5000)
        h1(class="mb-4") Sửa sản phẩm
        form(action=`/admin/products/edit/${product.id}?_method=PATCH`, method="post"
        enctype="multipart/form-data"
        id="form-edit-product")
            .col-md-12
                .form-group
                    label(for="title") Tiêu đề
                    input(type="text" class="form-control" name="title" id="title" value=product.title )
            .col-md-12
                .form-group
                    label(for="category_id") Danh mục 
                    select(name="category_id" class="form-control" id="category_id")
                        option(value="") Chọn danh mục 
                        +select-tree(categories,1, product.category_id)
                .form-group
                    label(for="description") Mô tả
                    textarea(class="form-control" name="description" id="descriptionArea"  rows="3") #{product.description}
            .col-md-12
                    .form-group
                        label(for="price") Giá
                        input(type="number" class="form-control" name="price" id="price"  value=product.price min="0")
                    .form-group
                        label(for="discount") Giảm giá
                        input(type="number" class="form-control" name="discountPercentage" id="discount" min="0" value=product.discountPercentage)
            .col-md-12
                    .form-group
                        label(for="quantity") Số lượng
                        input(type="number" class="form-control" name="stock" id="quantity"  value=product.stock min="0")
                    .div(class="form-group" upload-image)
                        label(for="thumbnail") Ảnh sản phẩm
                        input(type="file" class="form-control-file" name="thumbnail" id="thumbnail" accept="image/*"  upload-image-Input )
                        .div( close-image) X
                        <img with="100px" height="100px" src=#{product.thumbnail} alt="your image" class="image-Preview" upload-image-Preview />
            .col-md-12
                    .form-group
                        label(for="status") Trạng thái
                        select(class="form-control", name="status", id="status" )
                            option(value="active" selected=(product.status === 'active')) Kích hoạt
                            option(value="inactive" selected=(product.status === 'inactive')) Không kích hoạt
            .col-md-12
                    .form-group
                        label(for="status") Sản phẩm nội bật 
                        select(class="form-control", name="is_featured", id="is_featured")
                            option(value=1 selected=(product.is_featured == '1')) Có
                            option(value=0 selected=(product.is_featured == '0')) Không
                    .form-group
                        label(for="position") Vị trí hiển thị
                        input(type="number" class="form-control" name="position" id="position" placeholder="Tự động tăng" min="1" value=product.position)
            button(type='submit', class='btn btn-primary') Cập nhật sản phẩm
    

        script(src="/admin/js/product.js") 
        script(src="/admin/js/script.js") 