extends ../../layout/default.pug
include ../../mixins/filtersStatus
include ../../mixins/search
include ../../mixins/pagination
block main 
    h1 Danh sách sản phẩm

    .card.mb-3 
        .card-header Bộ lọc và tìm kiếm 
        .card-body 
            .row
                .col-6
                    +filtersStatus(filtersStatus)
                .col-6
                    +inputSearch(keyword)
    .card.mb-3 
    .card-header Danh sách sản phẩm
    .card-body 
        table.table.table-hover.table-sm 
            thead 
                tr 
                    th STT
                    th Hình ảnh
                    th Tên sản phẩm
                    th Giá
                    th Trạng thái
                    th Thao tác
            tbody
                each product,index in products
                    tr 
                        td #{ objectPanination.skip + index + 1 }
                        td 
                            img(src=product.thumbnail, alt="Product Image" width="100" height="auto")
                        td(style="width: 200px") #{product.title}
                        td #{product.price}đ
                        td
                            if(product.status === "active")
                                a.badge.rounded-pill.text-bg-success(href=`javascript:;` data-status=product.status data-id=product.id button-change-status) Hoạt động
                            else
                                a.badge.rounded-pill.text-bg-warning(href=`javascript:;` data-status=product.status data-id=product.id button-change-status) Ngừng hoạt động
                        td 
                            a.btn.btn-warning.btn-sm(href="#") Sửa
                            a.btn.btn-danger.btn-sm.ml-2(href="#") Xóa

    +pagination(objectPanination)
    form(
        method="POST"
        action=""
        class="d-none"
        id="form-change-status"
        data-path=`${prefixAdmin}/products/change-status`
    ) 
    script(src="/admin/js/product.js") 
    script(src="/admin/js/script.js") 