extends ../../layout/default.pug
include ../../mixins/box-head.pug
include ../../mixins/alert.pug

block main
    +alert-success(5000)
    +alert-error(5000)
    .container.my-3 
        .row 
            .col-12 
                +box-head("Đặt hàng")
        .row 
            .col-12 
                table(class="table table-bordered")
                    thead   
                        tr 
                            th STT 
                            th Ảnh 
                            th Tên 
                            th Giá
                            th Số lượng 
                            th Tổng tiền 
                    if (dataCart.products.length > 0)
                            tbody
                                each item,index in dataCart.products
                                    tr 
                                        td #{index+1}
                                        td 
                                            img(src=item.productInfo.thumbnail, alt=item.productInfo.title width="80px")
                                        td #{item.productInfo.title}
                                        td #{item.productInfo.priceNew}
                                        td #{item.quantity}
                                            
                                        td #{item.productInfo.totalPrice}
                    else 
                        p Không có sản phẩm nào trong giỏ hàng

                h2(class="text-right") Tổng hoá đơn : #{dataCart.totalPrice}
            if (dataCart.products.length > 0)      
                .row 
                    .col-12 
                        .card.p-4.my-4
                            form(action="/checkout/payment" method="POST")
                                div(class="row")
                                    div(class="form-group col-6")
                                        div(class="form-group")
                                            label(for="fullName") Họ và tên 
                                            input(type="text" class="form-control" name="fullName"  value=user ? user.fullName : "" required placeholder="Họ và tên")
                                    div(class="form-group col-6")
                                        div(class="form-group")
                                            label(for="email") Email
                                            input(type="email" class="form-control" name="email" value=user ? user.email : ""  required placeholder="email" )
                                div(class="form-group")
                                    label(for="phone") Số điện thoại 
                                    div(class="input-group")
                                        span(class="input-group-text") +84
                                        input(type="number" class="form-control" name="phone" required)
                                div(class="form-group")
                                    label(for="address") Địa chỉ
                                    input(type="text" class="form-control" name="address" required)
                                div(class="form-group")
                                    label(for="address") Ghi chú 
                                    textarea(name="note" class="form-control" rows="3")
                                div(class="form-group")
                                    label(for="paymentMethod") Phương thức thanh toán
                                    select(name="paymentMethod" class="form-control")
                                        option(value="cod") Thanh toán khi nhận hàng
                                        option(value="payos") Thanh toán qua PayOS
                                button(type="submit" class="btn btn-success mt-3") Đặt hàng
    script(src="/js/cart.js")
