extends ../../layout/default
include ../../mixins/alert.pug
block main  
    +alert-success(5000)
    h1 Phân quyền
    if(role.length > 0)
        div(data-role=role class="d-none")
        .card.mb-3 
            .card-header Danh sách quyền
            div(class="text-right")
                button( class="btn btn-success mb-3" type="submit" button-submit) Cập nhật
            .card-body 
                table(class="table table-hover table-sm" table-permission)
                    thead 
                        tr 
                            th Tính năng
                            each permission in role
                                th(class="text-center") #{permission.title}
                    tbody
                        tr(data-name="id" class="d-none")
                            td 
                            each permission in role
                                td(class="text-center")
                                    input(type="text" value=permission.id)
                        tr 
                            td(colspan="4")
                                b Danh mục sản phẩm 
                        tr(data-name="products-category_view")
                            td Xem 
                            each permission in role
                                td(class="text-center")
                                    input(type="checkbox")
                        tr(data-name="products-category_create")
                            td Tạo mới 
                            each permission in role
                                td(class="text-center")
                                    input(type="checkbox")
                        tr(data-name="products-category_edit")
                            td Sửa
                            each permission in role
                                td(class="text-center")
                                    input(type="checkbox")
                        tr(data-name="products-category_delete")
                            td Xóa
                            each permission in role
                                td(class="text-center")
                                    input(type="checkbox")
                        tr 
                            td(colspan="4")
                                b Sản phẩm 
                        tr(data-name="products_view")
                            td Xem 
                            each permission in role
                                td(class="text-center")
                                    input(type="checkbox")
                        tr(data-name="products_create")
                            td Tạo mới 
                            each permission in role
                                td(class="text-center")
                                    input(type="checkbox")
                        tr(data-name="products_edit")
                            td Sửa
                            each permission in role
                                td(class="text-center")
                                    input(type="checkbox")
                        tr(data-name="products_delete")
                            td Xóa
                            each permission in role
                                td(class="text-center")
                                    input(type="checkbox")
                        tr 
                            td(colspan="4")
                                b Nhóm quyền
                        tr(data-name="roles_view")
                            td Xem 
                            each permission in role
                                td(class="text-center")
                                    input(type="checkbox")
                        tr(data-name="roles_create")
                            td Tạo mới 
                            each permission in role
                                td(class="text-center")
                                    input(type="checkbox")
                        tr(data-name="roles_edit")
                            td Sửa
                            each permission in role
                                td(class="text-center")
                                    input(type="checkbox")
                        tr(data-name="roles_delete")
                            td Xóa
                            each permission in role
                                td(class="text-center")
                                    input(type="checkbox")
                        tr(data-name="roles_permissions")
                            td Phân quyền
                            each permission in role
                                td(class="text-center")
                                    input(type="checkbox")
    else  
        strong Không có quyền nào được tạo. Vui lòng tạo quyền trước khi phân quyền.
        a(href=`${prefixAdmin}/roles/create` class="btn btn-primary") Tạo quyền mới
    form(action=`${prefixAdmin}/roles/permissions?_method=PATCH` 
    id="form-change-permissions"
    class="d-none"
    method="POST") 
        div(class="form-group")
            input(type="text" value="" name="permissions")
    script(src="/admin/js/script.js") 
    script(src="/admin/js/role.js") 
