mixin sort(sort, availableSortOptions)
    div(sort)
        select(
            class="form-control"
            name="sort"
            sort-select
        )
            option(disabled selected value="default") Chọn sắp xếp
            each option in availableSortOptions
                option(value=option.value) #{option.text}
        button(
            class="btn btn-danger mt-2"
            sort-clear) Clear
