mixin table-tree(categories, level = 1)
    each category in categories
        - const prefix = Array(level + 1).join('-- ');
        tr
            td 
                input(type="checkbox" name="ids" value=category.id)
            td #{ category.index }
            td 
                img(src=category.thumbnail, alt="Category Image" width="100" height="auto")
            td(style="width: 200px") #{prefix} #{category.title}
            td 
                input(
                    type="number"
                    value=category.position
                    style="width: 60px"
                    min="1"
                    name="position"
                )
            td
                if (rolesUser.permissions.includes("products-category_edit"))
                    if(category.status === "active")
                        a.badge.rounded-pill.text-bg-success(href=`javascript:;` data-status=category.status data-id=category.id button-change-status) Hoạt động
                    else
                        a.badge.rounded-pill.text-bg-warning(href=`javascript:;` data-status=category.status data-id=category.id button-change-status) Ngừng hoạt động
                else
                    span #{category.status ? 'Hoạt động' : 'Ngừng hoạt động'}
            td 
                if (rolesUser.permissions.includes("products-category_edit"))
                    a.btn.btn-warning.btn-sm(href=`${prefixAdmin}/categories/edit/${category.id}`) Sửa

                a.btn.btn-secondary.btn-sm.ml-2(href=`${prefixAdmin}/categories/detail/${category.id}`) Chi tiết
                if (rolesUser.permissions.includes("products-category_delete"))
                    a.btn.btn-danger.btn-sm.ml-2(href="javascript:;" data-id=category.id button-delete) Xóa
        if category.children && category.children.length > 0
            +table-tree(category.children, level + 1)