extends ../../layout/default
include ../../mixins/box-head
block main
    div(class="container my-3")
        include ../../partials/list-btn-users.pug
        div(class="row")
            div(class="col-12")
                +box-head("Chat")
        div(class="row")
            div(class="col-12")
                div(class="card chat")
                    div(class="card-body chat-body" style="height: 400px; overflow-y: auto;" data-user-id=user.id)
                        each chat, index in chats
                            - const previousChat = chats[index - 1]
                            if (chat.user_id == user.id)
                                div(class="message d-flex flex-row justify-content-end")
                                    div
                                        if (chat.content)
                                            div(class="p-3")
                                if (chat.images && chat.images.length > 0)
                                    div(class="message d-flex flex-row justify-content-end mb-4")
                                        div(class="inner-image")
                                            each image in chat.images
                                                img(src=image, alt="" width=100 height=100 style="margin: 5px; border-radius: 10px;")
                            else
                                div(class="message d-flex flex-row justify-content-start mb-4")
                                    div
                                        if !previousChat || previousChat.user_id !== chat.user_id
                                            p 
                                                b #{chat.fullName}
                                        if (chat.content)
                                            div(class="p-3 ms-3" style="border-radius: 15px; background-color: rgba(57, 192, 237,.2);")
                                                p(class="small mb-0") #{chat.content}
                                        if (chat.images && chat.images.length > 0)
                                            div(class="inner-image")
                                                each image in chat.images
                                                    img(src=image, alt="" width=100 height=100 style="margin: 5px; border-radius: 10px;")
                        div(class="inner-list-typing")
                        .inner-perview-images
                            div(class="custom-file-container" data-upload-id="upload-images")
                    div(class="card-footer text-muted p-3")
                        form.d-flex.justify-content-start.align-items-center(action="#" form-chat) 
                            input.form-control(type="text" placeholder="Type message" name="content")
                            label(for="file-upload-with-preview-upload-images" class="button-img mx-2 ")
                                svg(  xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-image" viewBox="0 0 16 16")
                                    path( d="M6.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0")
                                    path(d="M2.002 1a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V3a2 2 0 0 0-2-2zm12 1a1 1 0 0 1 1 1v6.5l-3.777-1.947a.5.5 0 0 0-.577.093l-3.71 3.71-2.66-1.772a.5.5 0 0 0-.63.062L1.002 12V3a1 1 0 0 1 1-1z")
                            div( class="button-icon mx-2 ")
                                svg( xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-emoji-smile-fill" viewBox="0 0 16 16")
                                        path(  d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16M7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5M4.285 9.567a.5.5 0 0 1 .683.183A3.5 3.5 0 0 0 8 11.5a3.5 3.5 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.5 4.5 0 0 1 8 12.5a4.5 4.5 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683M10 8c-.552 0-1-.672-1-1.5S9.448 5 10 5s1 .672 1 1.5S10.552 8 10 8")
                            div(class="tooltip" role="tooltip")
                                emoji-picker(class="light")
                            button.btn.btn-primary(type="submit") 
                                svg(xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16")
                                    path( d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z")
