mixin product-item(product)
  .col-xl-3.col-lg-4.col-md-6.col-sm-12.mb-4
    .product-item
      a(href=`/products/detail/${product.slug}`)
        .inner-image
          img(src=product.thumbnail || 'img/no-image.png', alt=product.title)
          if (product.featured == "1")
            .inner-featured Nổi bật
      .inner-content
        h3.inner-title
          a(href=`/products/detail/${product.slug}`) #{product.title}
        .inner-foot
          .inner-price
            .inner-price-new 
                p #{parseInt(product.priceNew).toLocaleString()}đ
            if product.discountPercentage > 0
              .inner-price-old #{parseInt(product.price).toLocaleString()}đ
              .inner-discount -#{product.discountPercentage}%
          a(href=`/products/detail/${product.slug}`, class="btn btn-outline-primary btn-sm") Xem chi tiết
