mixin slider(settingsSlider)
    div(id="carouselExampleIndicators" class="carousel slide mt-2" )
            div(class="carousel-indicators")
                img( src=settingsSlider.slider1  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1")
                img( src=settingsSlider.slider2  data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2")
                img( src=settingsSlider.slider3 data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3")
            div(class="carousel-inner")
                div(class="carousel-item active")
                    img(src=settingsSlider.slider1, alt="slider1")
                div(class="carousel-item ")
                    img(src=settingsSlider.slider2, alt="slider2")
                div
                div(class="carousel-item ")
                    img(src=settingsSlider.slider3, alt="slider3")